body {
  font-family: "EB Garamond", serif;
  background: #dbe2ef;
  color: #112d4e;
  text-align: center;
  font-size: 10px;
}
.banner p,
.bannername {
  font-size: 30px;
}
.banners {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f9f7f7;
}
.banner img {
  width: 200px;
  border-radius: 10px;
}

.results {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
  place-items: center;
}
.resultcontainer {
  width: 400px;
  height: 450px;
  background: #0e0e1a;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.resultsimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.pityscore {
  font-size: 30px;
}
button {
  font-size: 20px;
  border-radius: 5px;
}
