body {
  font-family: Arial, sans-serif;
  background: #0e0e1a;
  color: white;
  text-align: center;
}

#banners {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  justify-content: center;
}

.banner {
  cursor: pointer;
}

.banner img {
  width: 200px;
  border-radius: 10px;
}

#results {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resultsimage {
  width: 300px;
  height: 450px;
  object-fit: contain;
}
